<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="icon" href="assets/images/favicon.png" sizes="32x32" type="image/png">
    <title>Foxio - Admin Panel HTML5 Template</title>

    <link rel="stylesheet" href="assets/css/icons.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/color.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>
<body>
    <main class="gnrl-pg">
        <section class="h-75">
            <div class="gap gray-layer opc85">
                <div class="fixed-bg2" style="background-image: url(assets/images/parlx1.jpg);"></div>
                <div class="container">
                    <div class="rgstr-wrp text-center">
                        <div class="rgstr-innr">
                            <div class="rgstr-scl" style="background-image: url(assets/images/upld-bg.jpg);">
                                <h5>Login With Social Site!</h5>
                                <div class="btns-list">
                                    <a href="#" title="" class="brd-rd5 btn scl-btn facebook"><i class="fa fa-facebook"></i> Facebook</a>
                                    <a href="#" title="" class="brd-rd5 btn scl-btn twitter"><i class="fa fa-twitter"></i> Twitter</a>
                                    <a href="#" title="" class="brd-rd5 btn scl-btn google"><i class="fa fa-google-plus"></i> Google Plus</a>
                                </div>
                            </div>
                            <div class="rgstr-frm">
                                <div class="wdgt-titl wdgt-titl-icn">
                                    <i class="icon ion-ios-person-outline"></i>
                                    <h4>Register to Admin</h4>
                                    <p>Fill your detail for new registration</p>
                                </div>
                                <form class="cont-frm">
                                    <div class="row mrg10">

                                        <div class="col-md-12 col-sm-12 col-lg-12">
                                            <input type="email" placeholder="Email Id">
                                            <i class="icon ion-android-mail"></i>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-lg-12">
                                            <input type="password" placeholder="Password">
                                            <i class="icon ion-key"></i>
                                        </div>
                                        
                                        <div class="col-md-12 col-sm-12 col-lg-12">
                                            <button type="submit">Login In Now</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="container">
                <p>Copyright <a href="#" title="">Foxio</a> &copy; 2019</p>
                <ul class="btm-lnks">
                    <li><a href="#" title="">Dashboard</a></li>
                    <li><a href="#" title="">Widgets</a></li>
                    <li><a href="#" title="">About us</a></li>
                    <li><a href="#" title="">Contact us</a></li>
                </ul>
            </div>
        </footer><!-- Footer -->
    </main><!-- Main Wrapper -->

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/custom-scripts.js"></script>
</body>	
</html>