<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="icon" href="assets/images/favicon.png" sizes="32x32" type="image/png">
    <title>Foxio - Admin Panel HTML5 Template</title>

    <link rel="stylesheet" href="assets/css/icons.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/color.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>
<body>
    <main class="gnrl-pg">
        <section>
            <div class="gap gray-layer opc85">
                <div class="fixed-bg2" style="background-image: url(assets/images/parlx1.jpg);"></div>
                <div class="container">
                    <div class="mant-wrp text-center">
                        <div class="mant-innr">
                            <div class="mant-inr">
                                <h1>Under Maintenance</h1>
                                <p>We're Sorry, Currently Working on Site.</p>
                                <ul class="cmng-tim">
                                    <li>
                                        <span class="days">00</span>
                                        <p class="days_ref">Days</p>
                                    </li>
                                    <li>
                                        <span class="hours">00</span>
                                        <p class="hours_ref">Hrs</p>
                                    </li>
                                    <li>
                                        <span class="minutes">00</span>
                                        <p class="minutes_ref">Min</p>
                                    </li>
                                    <li>
                                        <span class="seconds">00</span>
                                        <p class="seconds_ref">Sec</p>
                                    </li>
                                </ul>
                                <img src="assets/images/resources/maintenance-mckp.png" alt="maintenance-mckp.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="container">
                <p>Copyright <a href="#" title="">Foxio</a> &copy; 2019</p>
                <ul class="btm-lnks">
                    <li><a href="#" title="">Dashboard</a></li>
                    <li><a href="#" title="">Widgets</a></li>
                    <li><a href="#" title="">About us</a></li>
                    <li><a href="#" title="">Contact us</a></li>
                </ul>
            </div>
        </footer><!-- Footer -->
    </main><!-- Main Wrapper -->

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/custom-scripts.js"></script>
</body>	
</html>